a {
  text-decoration: none;
}

.form-title {
  margin-bottom: 0.675rem;
  font-size: 1.05rem;
  color: rgb(var(--v-theme-primary-darken));
}

.v-list-item--active > .v-list-item__overlay,
.v-list-item[aria-haspopup='menu'][aria-expanded='true'] > .v-list-item__overlay {
  opacity: 0;
}

.v-menu > .v-overlay__content > .v-list {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.v-card-item .v-card-title {
  font-weight: 600;
}

.v-card--variant-elevated {
  box-shadow:
    0 3px 12px rgba(var(--v-shadow-key-umbra-color), var(--v-shadow-md-opacity)),
    0 0 transparent,
    0 0 transparent;
}

.v-text-field .v-input__details {
  padding-inline: 0;
  padding: 6px 0;
}

.v-field.v-field--active .v-label.v-field-label--floating {
  font-size: 0.95rem;
}

.v-field--variant-plain .v-label.v-field-label--floating {
  transform: translateY(-24px);
}

.v-table__wrapper::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.v-table__wrapper::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.v-table__wrapper::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 10px;
}

@media (min-width: 1920px) {
  .v-container {
    max-width: 1310px !important;
  }

  .v-container--fluid {
    max-width: 100% !important;
  }
}
